footer {
    padding: 25px 0;
    text-align: center;
    background-color: #111;
    position: absolute;
    width: 100%;
    color: white;
    /* margin-top: 100px; */
    z-index: 999;
    overflow-x: hidden;
  }
  
  footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
    color: #fff;
  }
  
  footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
  }
  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 21px;
    line-height: 42px;
    outline: 0;
    color: #fff;
    background-color: #444;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    display: block;
  }
  
  ul.social-buttons li a svg {
    margin: 0px !important;
  }
 
  .fb:hover,
  .fb:focus,
  .fb:active {
    color: #fff;
    background: #3b5998;
    background-color: #3b5998;
  }
  .lin:hover,
  .lin:focus,
  .lin:active {
    color: #fff;
    background: #0a66c2;
    background-color: #0a66c2;
  }

  .git:hover,
  .git:focus,
  .git:active {
    color: #fff;
    background: #24292f;
    background-color: #24292f;
  }

  .git-nb:hover,
  .git-nb:focus,
  .git-nb:active {
    color: #24292f;
  }

  .twi:hover,
  .twi:focus,
  .twi:active {
    color: #fff;
    background: #00acee;
    background-color: #00acee;
  }
  
  .yt:hover,
  .yt:focus,
  .yt:active {
    color: #fff;
    background: #c4302b;
    background-color: #c4302b;
  }
  
  .ins:hover,
  .ins:focus,
  .ins:active {
    color: #fff;
    background: #d6249f;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  }

  .pdf:hover,
  .pdf:focus,
  .pdf:active {
    color: red;
    background: white;
    background-color: white;
    border: 1px solid red;
  }
  
  .pdf2:hover,
  .pdf2:focus,
  .pdf2:active {
    color: white;
    background: red;
    background-color: red;
    /* border: 1px solid red; */
  }

  .list-inline {
    display: inline-flex;
  }
  .ul-padding {
    padding-right: 10px;
    padding-left: 10px;
    text-align-last: center;
  }
  
  .copyright-text {
    color: #fff;
  }
  
  .self-center {
    align-self: center;
  }
  
  .a-hover:hover {
    text-shadow: #fff;
    shape-rendering: auto;
  }
  
  .is-footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }
  
  .footer2 {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .footer3 {
    width: 106%;
  }
  
  .footerN {
    padding: 25px 0;
    text-align: center;
    background-color: #111;
    position: absolute;
    width: 100%;
    color: white;
    margin-top: 100px;
  }
  