---
import type { SocialDicInterface, Info } from "../../types/global.types";
import { t } from "i18next";
import { PascalCase } from "@utils/global.utils";

interface Props {
  social: Info;
  footer?: boolean;
}
const styleButton =
  "text-white text-center hover:transform hover:scale-105 flex rounded-full bg-[#444] ";

const { social, footer = true } = Astro.props;

const buttonStyle = !footer
  ? styleButton + "lg:size-16 md:size-28 size-20 "
  : styleButton + "size-12 ";

const socialDic: SocialDicInterface = {
  facebook: {
    href: "https://www.facebook.com/edgarm.laz",
    style: buttonStyle + "fb",
  },
  instagram: {
    href: "https://www.instagram.com/edgarguitarist/",
    style: buttonStyle + "ins",
  },
  twitter: {
    href: "https://twitter.com/edgarguitarist",
    style: buttonStyle + "twi",
  },
  x: {
    href: "https://x.com/edgarguitarist",
    style: buttonStyle + "x",
  },
  github: {
    href: "https://www.github.com/edgarguitarist",
    style: buttonStyle + "git",
  },
  pdf: {
    href: t("index.footer.curriculum"),
    style: buttonStyle + "pdf",
  },
  pdf2: {
    href: t("index.footer.curriculum"),
    style: buttonStyle + "pdf2",
  },
  linkedin: {
    href: "https://www.linkedin.com/in/edgarlteran/",
    style: buttonStyle + "lin",
  },
  whatsapp: {
    href: "https://wa.me/593982686560",
    style: buttonStyle + "wha",
  },
};

let selectedSocial = socialDic[social as Info];
---

<a
  href={selectedSocial.href}
  id={`${social}${footer ? "-footer" : ""}`}
  target="_blank"
  title={PascalCase(social)}
  class={selectedSocial.style || buttonStyle}
>
  <slot>
</a>
