---
import Sections from "@layouts/Sections.astro";
import { t } from "i18next";
import SkillsPart from "@components/parts/skillsPart.astro";
---

<Sections id="skills" title={t("index.skills.title")}>
  <h2 class="text-xl mt-12 font-semibold text-gray-800 dark:text-gray-300 text-center">
    {t("index.skills.description")}
  </h2>
  <div class="lg:flex md:flex sm:block lg:mt-12 mt-6">
    <SkillsPart skillType="hards" width="w-3/5" margin="my-[12px]" /> 
    <SkillsPart skillType="softs" width="w-2/5" margin="my-[7px]" /> 
  </div>
</Sections>
