---
import i18next, { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/me.webp" />
    <meta name="description" content="Portfolio - Edgar Mariano Laz Terán" />
    <meta
      name="keywords"
      content="Edgar Laz, Portfolio Edgar Laz, Portafolio Edgar Laz, Curriculum Edgar Laz, Edgar Mariano Laz Terán, Portfolio Edgar Mariano Laz Terán, Portafolio Edgar Mariano Laz Terán, Curriculum Edgar Mariano Laz Terán, Ing. Edgar Laz, Ingeniero Edgar Laz, Ing. Edgar Mariano Laz Terán, Ingeniero Edgar Mariano Laz Terán, GitHub Edgar Laz, edgarguitarist, edguitarist, eguitarist, edgarguitarist portfolio"
    />
    <meta name="author" content="Edgar Mariano Laz Terán" />
    <meta name="robots" content="index,follow" />
    <meta name="generator" content={Astro.generator} />
    <title>{t("site.title")}</title>
  </head>

  <body class="dark:bg-slate-900 bg-white transition-colors overflow-x-hidden">
    <Navbar username="edgarguitarist">
      <LanguageSelector showFlag={false} class="languages text-black dark:text-white" />
    </Navbar>
    <main
      class="relative lg:m-auto sm:m-0  lg:pb-28 px-6 max-w-screen-xl z-10 text-center"
    >
      <slot />
    </main>
  </body>
  <Footer />
</html>
