---
interface Props {
  id: string;
  title: string;
  className?: string;
}

const { className, id, title } = Astro.props;
---

<section id={id} class={`pt-20 block min-h-screen ${className}` }>
  {
    title && (
      <h1 class="text-5xl title-shadow text-gray-800 font-bold text-center">
        {title}
      </h1>
    )
  }
  <slot />
</section>
